<h1>New order for <%= @food_item.name %></h1>

<% if @order.errors.presence %>
	<div class="alert alert-danger"><%= @order.errors.full_messages.to_sentence %></div>
<% end %>

<%= form_for @order, url: orders_path(food_item_id: @food_item.id) do |f| %>
	<div class="form-group">
		<%= f.label :quantity %>
		<%= f.number_field :quantity, class: 'form-control' %>
	</div>
	<%= f.submit nil, class: 'btn btn-primary' %>
<% end %>
