<h1>New order for <%= @food_item.name %></h1>

<% if @order.errors.presence %>
<div class="alert alert-danger"><%= @order.errors.full_messages.to_sentence %></div>
<% end %>

<div class="row">
	<div class="col-sm-6">
		<div class="card card-block">
			<h4 class="card-title">Shipping Informantion</h4>

			<div class="form-group">
				<label for="nameInput">Name:</label>
				<input type="text" class="form-control" aria-describedby="Name" placeholder="Enter your name" onkeyup="$('#name').val($(this).val());">
			</div>

			<div class="form-group">
				<label for="nameInput">Email:</label>
				<input type="email" class="form-control" aria-describedby="Email" placeholder="Enter your mail" onkeyup="$('#mail').val($(this).val());">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>

			<div class="form-group">
				<label for="telInput">Phone:</label>
				<input type="email" class="form-control" placeholder="Enter your phone" onkeyup="$('#phone_number').val($(this).val());">
			</div>

			<div class="form-group">
				<label for="addrInput">Address</label>
				<textarea class="form-control" id="addrInput" rows="3" onkeyup="$('#address').val($(this).val());"></textarea>
			</div>

			<div class="form-check">
				<label class="form-check-label">
					<input type="checkbox" class="form-check-input">
					Also save my address
				</label>
			</div>

		</div>
	</div>
	<div class="col-sm-6">
	<%= form_for [@food_item, @order] do |f| %>
		<table class="table table-responsive">
			<div class="thead">
				<tr>
					<td>Name</td>
					<td>Price</td>
					<td>Quantity</td>
					<td>Total</td>
				</tr>
			</div>
			<div class="tbody">
				<tr>
					<td class="col-sm-4"><%= @food_item.name %></td>
					<td class="col-sm-2"><%= @food_item.price %></td>
					<td class="col-sm-3"><%= f.number_field :quantity, class: 'form-control' %></td>
					<td class="col-sm-3"></td>
					<%= hidden_field_tag :name %>
					<%= hidden_field_tag :email %>
					<%= hidden_field_tag :phone_number %>
					<%= hidden_field_tag :address %>
				</tr>
			</div>
		</table>

		<small style="color: red;font-style: italic;">** Please note: the shipping cost is <%= number_with_delimiter(number_with_precision(20000, :precision => 0), :delimiter => ',') %>&nbsp;₫</small>
		<div>
			<%= f.submit nil, class: 'btn btn-block btn-primary'%>
		</div>
		<% end %>
	</div>
</div>

